{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for post in posts %}
        <div class="col-lg-4 col-md-6 col-sm-12">
          <!-- Wrap the entire card content with an anchor tag -->
          <a href="{{ url_for('main.post', post_id=post.id) }}" style="text-decoration: none; color: inherit;">
            <div class="card">
              <!-- Display the hero image -->
              {% if post.images %}
                <img src="{{ url_for('static', filename= 'output/' + post.images[0].image_url) }}" alt="Hero image for {{ post.title }}">
              {% else %}
                <!-- Display a default image if no images are present -->
                <img src="{{ url_for('static', filename='default.png') }}" alt="Hero image for {{ post.title }}">
              {% endif %}
            
              <div class="card-body">
                <!-- Display the post title -->
                <h5 class="card-title">{{ post.title }}</h5>

                <!-- Display the post date -->
                <p class="card-text">{{ post.date.strftime('%B %d, %Y') }}</p>

  
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/load_more.js') }}"></script>

{% endblock %}
