{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="post-detail">
            <!-- Display the hero image -->
            {% if post.images %}
              <img src="{{ post.images[0].image_url }}" alt="Hero image for {{ post.title }}">
            {% else %}
              <!-- Display a default image if no images are present -->
              <img src="{{ url_for('static', filename='default.png') }}" alt="Hero image for {{ post.title }}">
            {% endif %}

            <!-- Display the post title -->
            <h1>{{ post.title }}</h1>

            <!-- Display the post date -->
            <p>{{ post.date.strftime('%B %d, %Y') }}</p>

            <!-- Display the post description -->
            <div class="post-content">
                {{ post.description | safe }}
            </div>
            
            <!-- Display the other images -->
            {% for image in post.images[1:] %}
                <img src="{{ image.image_url }}" alt="Image for {{ post.title }}">
            {% endfor %}
        </div>
    </div>
{% endblock %}
