<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    <!-- Default meta description -->
    <meta name="description" content="Descrizione predefinita del sito">
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    

    <title>{% block title %}{{ title|default('Default Title') }}{% endblock %}</title>
  </head>
  <body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">My Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>                    
                </li>
                <li>
                  <a class="nav-link" href="/login">Login</a> 
                </li>
                <!-- More nav items as needed -->
            </ul>
            <!-- Search Form -->
            <form class="form-inline my-2 my-lg-0" action="{{ url_for('main.search') }}" method="GET">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>


    <!-- Content -->
    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">My Blog © 2023</span>
      </div>
    </footer>

    <!-- Option 2: Bootstrap, Popper.js, and JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>

