{% extends "base.html" %}
{% block meta %}
<!-- Meta description for this specific post -->
{% set description_paragraphs = post.description.split('</p>') %}
{% set meta_description = description_paragraphs[2]|striptags if description_paragraphs[2]|striptags|length > 50 else description_paragraphs[1]|striptags %}
<meta name="description" content="{{ meta_description }}">
<meta property="og:title" content="{{ post.title }}" />
<meta property="og:description" content="{{ meta_description }}" />
<meta property="og:image" content="{{ url_for('static', filename='output/' + post.images[0].image_url, _external=True) }}" />
<meta property="og:url" content="{{ url_for('main.post', post_id=post.id, _external=True) }}" />
<meta property="og:type" content="article" />

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ url_for('main.post', post_id=post.id, _external=True) }}"
        },
        "headline": "{{ post.title }}",
        "image": "{{ url_for('static', filename='output/' + post.images[0].image_url, _external=True) if post.images else '' }}",
        "author": "Nome dell'Autore",
        "publisher": {
            "@type": "Organization",
            "name": "Street Bites World",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ url_for('static', filename='logo.png', _external=True) }}"
            }
        },
        "datePublished": "{{ post.date.isoformat() }}",
        "dateModified": "{{ post.date.isoformat() }}"
    }
    </script>

{% endblock %}

{% block content %}
    <div class="container post-container">
        <div class="post-detail">
            <!-- Display the post title -->
            <h1>{{ post.title }}</h1>
            <!-- Display the hero image -->
            {% if post.images %}
            <img class= "img-fluid" src="{{ url_for('static', filename='output/' + post.images[0].image_url) }}" alt="{{ post.images_prompt }}">
            {% else %}
            <!-- Display a default image if no images are present -->
            <img src="{{ url_for('static', filename='default.png') }}" alt="Hero image for {{ post.title }}">
            {% endif %} 



            <!-- Display the post date -->
            <p>{{ post.date.strftime('%B %d, %Y') }}</p>

            <!-- Display the post description -->
            <div class="post-content">
                {{ post.description | safe }}
            </div>
            
            <!-- Display the other images -->
            {% if post.images|length > 1 %}
            <img class= "img-fluid" src="{{ url_for('static', filename= 'output/' + post.images[1].image_url) }}" alt="{{ post.images_prompt }}">
            {% endif %}
            
        </div>
    </div>
{% endblock %}
